@import App.css;

.header {
  width: var(--width100);
  border: 2px black solid;
  background-color: white;
  height: 100px;
  display: var(--flex);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    color: red;
    font-weight: bold;
    font-size: 40px;
  }
  &__button {
    width: var(--width100);
  }
}
