:root {
  --flex: flex;
  --around: space-around;
  --active-bg: lightblue;
  --width100: 100%;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    to left top,
    #983170,
    #ab6a9e,
    #bf9dc6,
    #dacfe6,
    #ffffff
  );
  display: var(--flex);

  justify-content: center;
}
.app {
  width: var(--width100);
  height: 800px;
  display: var(--flex);
  flex-direction: column;
  justify-content: var(--around);
}
